@media (orientation: landscape ) {
  background-color: aliceblue;

  body {
    position: absolute;
    background-color: aqua;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (roientation: portrait ) {
  body {
    position: absolute;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
