.container{
  height: 200px;
  width: 100%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.item{
  list-style-type: none;
  background-color: blueviolet;
  height: 100px;
  width: 100px;
}

