*{
  margin: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.big{
  background-color: white;
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.small{
  background-color: rgb(33, 236, 236);
  height: 40px;
  margin: 0 10px;
}
.s1{
  width: 130px;
  margin-left: 50px;
}
.s2{
  width: 100px;
}
.s3{
  width: 120px;
}
.s4{
  width: 110px;
}
.up{
  flex-grow: 1;
  height: 70px;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
}
.down{
  flex-grow:10;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 80px 50px 10px 50px;

}
.d1{
  flex-grow: 1;
  background-color: rgb(28, 189, 28);
  margin-right: 5px;
}
.d2{
  flex-grow: 2;
  background-color: yellow;
  margin-left: 5px;
}
.bottom{
  display: flex;
  flex-grow: 1;
  background-color: rgb(196, 189, 189);
  margin: 0 50px;
}
.two{}
