label{
    display: inline-block;
    padding: 10px;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
}
input{
    display: block;
}
button{
    display: block;
    border:  none;
    margin-left: 150px;
    margin-top: 10px;
    background-color: transparent;
    color:  black;
}
div{
    width: 400px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
body{
    background-color: lightgray;
}
input[type=submit]{
    background-color:#00001f;
    color: white;
    width: 115px;
    height: 40px;
    border-radius: 20px;
}
input[type=text],input[type=password]{
    height: 35px;
    width: 280px;
}
.a:focus{
    border-color: green;
    outline: none;
}
input[type=password]{
    display: inline;
}
img{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 730px;
    top: 230px;

}
    